{% load staticfiles %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Hotel List</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700'>
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
    </head>
    {% if user.is_authenticated %}
        <header>
            <h2> Explore Cozy Homes </h2>
            <h4> Booking Details</h4>
        </header>
        <body>
            <a class = "logoutLink" href="{% url 'logout' %}">logout</a><br>
            <br>
            <div class="bookingDetails">
                <h3>Thanks for the Reservation! Here are the Property Details: </h3><br>
            <p class="propertyname">{{ hotel.property_name }}</p>
                    Address: {{ hotel.address }}<br>
                    City: {{ hotel.property_city }}<br>
                    Price per Night(in EUROS): {{ hotel.pricePerNight }} <br>
                    Average Rating: {{ hotel.averageRating }}/5 <br>
                    <br> <br>
                <h3>Enjoy Your Stay!</h3>
            </p>
            </div>
        </body>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a><br>
        <a href="{% url 'signup' %}">signup</a>    {% endif %}
{% endblock %}


