{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}

  <meta charset="UTF-8">
  <title>Hotel List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
<body>
<header>
    <h2> Explore Cozy Homes </h2>
</header>

<p class="helloUser">Hello {{ user.username }}!</p>
<a class = "logoutLink" href="{% url 'logout' %}">logout</a>

<h3> <center>Click on the Properties to see them on the Map.</center></h3>
<ul id="hotel-list" style="width: 600px; height: 550px; overflow-y:scroll">
{% for hotels in allHotels %}
    <li id="{{ hotels.id }}" class="hotel"
            data-title= "{{ hotels.property_name }}"
            data-address= "{{ hotels.address }}"
            data-price= "{{ hotels.pricePerNight }}"
            data-rating= "{{ hotels.averageRating }}"
            data-petsAllowed= "{{ hotels.petsAllowed}}"
            data-wifi= "{{ hotels.wifiAvailability}}"
            data-parking= "{{ hotels.parkingAvailability}}"
            data-lat="{{ hotels.latitudeCoordinates }}"
            data-lng="{{ hotels.longitudeCoordinates }}">
            <p class ="propertyname">
                {{ hotels.property_name }}
            </p> <br>
            {{ hotels.address }} <br>
            {{ hotels.property_city }} <br>
            Pets Allowed: {{ hotels.petsAllowed|yesno:"yes,no"}}<br>
            Average Rating: {{ hotels.averageRating }}/5 <br>
            Wifi Available: {{ hotels.wifiAvailability|yesno:"yes,no"}} <br>
            Parking Available: {{ hotels.parkingAvailability|yesno:"yes,no"}}
            <span class="price">{{ hotels.pricePerNight }}
            <span class="currency">EURO/Price per Night</span></span></li>

     <a href="/book/{{ hotels.id }}" class="mybtn"> Select Dates </a>
    <hr>
{% endfor %}
    </ul>
<br>
<br>
<br>
<div id="map" align="left"></div>
  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD7TXR4vs5WbtzWXCTe7oMPKa12WtXF10Q'></script>
  <script src="{% static "js/index.js" %}"></script>
</body>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}